pkgbase = daily-backup
	pkgdesc = Daily backup utilities for vitor
	pkgver = 1.1.1
	pkgrel = 1
	arch = any
	license = GPL
	depends = python3
	depends = curl
	depends = gnupg
	optdepends = backblaze-b2
	optdepends = openssh
	source = daily-backup-1.1.1.tar.gz::https://github.com/vitorqb/daily-backup/archive/1.1.1.tar.gz
	md5sums = 19046c93d746751ef634dead03125863

pkgname = daily-backup

