pkgbase = daily-backup
	pkgdesc = Daily backup utilities for vitor
	pkgver = 0.2.1
	pkgrel = 1
	arch = any
	license = GPL
	depends = python3
	depends = curl
	depends = gnupg
	optdepends = backblaze-b2
	optdepends = openssh
	source = https://f000.backblazeb2.com/file/daily-backup-releases/daily-backup-0.2.1.tar.gz
	md5sums = a968eddb7925cb8736adbd70293f601e

pkgname = daily-backup

