pkgbase = daily-backup
	pkgdesc = Daily backup utilities for vitor
	pkgver = 0.3.0
	pkgrel = 1
	arch = any
	license = GPL
	depends = python3
	depends = curl
	depends = gnupg
	optdepends = backblaze-b2
	optdepends = openssh
	source = daily-backup-0.3.0.tar.gz::https://github.com/vitorqb/daily-backup/archive/0.3.0.tar.gz
	md5sums = f0c4805a4f624f1d60c4921813b9e816

pkgname = daily-backup

